.box {
  --subgrid-offset-x: 0px;
  --subgrid-offset-y: 0px;
  --subgrid-offset-w: 0px;
  --subgrid-offset-h: 0px;

  --subgrid-shadow: #aaaaaa;
  --subgrid-background: #222222;
  --subgrid-text: var(--grid-outline);
  --subgrid-outline: var(--grid-outline);

  --subgrid-margin: 1px;
}

.content {
  border-radius: 1em;
  overflow: hidden;
  background-color: var(--subgrid-background);
}

.foreground {
  z-index: 1;
}

.background {
  border-radius: 1em;
}

.left .content,
.right .content,
.top .content,
.bottom .content {
  margin: 1px;
}

.left.background,
.right.background,
.top.background,
.bottom.background {
  border: 1px solid var(--subgrid-shadow);
}

.left {
  margin-left: calc(-1 * var(--subgrid-margin));
  --subgrid-offset-x: var(--subgrid-margin);
  --subgrid-offset-w: var(--subgrid-margin);
}
.left .content {
  margin-left: var(--subgrid-margin);
}

.right {
  --subgrid-offset-w: var(--subgrid-margin);
}
.right .content {
  width: calc(100% - var(--subgrid-margin) - 1px);
}

.left.right {
  --subgrid-offset-x: 0px;
  --subgrid-offset-w: calc(2 * var(--subgrid-margin));
}
.left.right .content {
  width: calc(100% - 2 * var(--subgrid-margin) - 1px);
}

.top {
  margin-top: calc(-1 * var(--subgrid-margin));
  --subgrid-offset-y: var(--subgrid-margin);
  --subgrid-offset-h: var(--subgrid-margin);
}
.top .content {
  margin-top: var(--subgrid-margin);
}

.bottom {
  --subgrid-offset-h: var(--subgrid-margin);
}
.bottom .content {
  height: calc(100% - var(--subgrid-margin) - 1px);
}

.top.bottom {
  --subgrid-offset-y: 0px;
  --subgrid-offset-h: calc(2 * var(--subgrid-margin));
}
.top.bottom .content {
  height: calc(100% - 2 * var(--subgrid-margin) - 1px);
}
