.box {
  position: absolute;
  left: calc(var(--box-x) * var(--grid-unit));
  top: calc(var(--box-y) * var(--grid-unit));
  width: calc(var(--subgrid-offset-w) + var(--box-w) * var(--grid-unit));
  height: calc(var(--subgrid-offset-h) + var(--box-h) * var(--grid-unit));
  transform: translate(var(--grid-offset-x), var(--grid-offset-y));
  transition: left ease 0.3s, top ease 0.3s;
  overflow: auto;
}
