.box {
  --subgrid-offset-x: 0px;
  --subgrid-offset-y: 0px;
  --subgrid-offset-w: 0px;
  --subgrid-offset-h: 0px;
  
  --subgrid-shadow: #AAAAAA;
  --subgrid-background: #222222;
  --subgrid-text: var(--grid-outline);
  --subgrid-outline: var(--grid-outline);
}

.subgrid {
  background-size: var(--grid-unit) var(--grid-unit);
  background-image:
    linear-gradient(to right, var(--subgrid-outline), transparent 1px),
    linear-gradient(to bottom, var(--subgrid-outline), transparent 1px);
  background-color: var(--subgrid-background);
}

.container {
  border-radius: 1em;
  overflow: hidden;
}

.foreground {
  z-index: 1;
}

.background {
  border-radius: 1em;
}

.left .container, .right .container, .top .container, .bottom .container {
  margin: 1px;
}

.left.background, .right.background, .top.background, .bottom.background {
  border: 1em solid var(--subgrid-shadow);
}

.left {
  margin-left: -0.5em;
  --subgrid-offset-x: 0.5em;
  --subgrid-offset-w: 0.5em;
}
.left .container {
  margin-left: 0.5em;
}

.right {
  --subgrid-offset-w: 0.5em;
}
.right .container {
  width: calc(100% - 0.5em - 1px);
}

.left.right {
  --subgrid-offset-x: 0.5em;
  --subgrid-offset-w: 1em;
}
.left.right .container {
  width: calc(100% - 1em - 1px);
}

.top {
  margin-top: -0.5em;
  --subgrid-offset-y: 0.5em;
  --subgrid-offset-h: 0.5em;
}
.top .container {
  margin-top: 0.5em;
}

.bottom {
  --subgrid-offset-h: 0.5em;
}
.bottom .container {
  height: calc(100% - 0.5em - 1px);
}

.top.bottom {
  --subgrid-offset-y: 0.5em;
  --subgrid-offset-h: 1em;
}
.top.bottom .container {
  height: calc(100% - 1em - 1px);
}

fieldset.container {
  border: none;
}

.container>legend {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--subgrid-shadow);
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  padding: 0 0.5em;
  color: var(--subgrid-text);
  max-width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
