.box {
  --subgrid-offset-x: 0px;
  --subgrid-offset-y: 0px;
  --subgrid-offset-w: 0px;
  --subgrid-offset-h: 0px;
  
  --subgrid-shadow: #AAAAAA;
  --subgrid-background: #222222;
  --subgrid-text: var(--grid-outline);
  --subgrid-outline: var(--grid-outline);
}

.content {
  border-radius: 1em;
  overflow: hidden;
  background-color: var(--subgrid-background);
}

.foreground {
  z-index: 1;
}

.background {
  border-radius: 1em;
}

.left .content, .right .content, .top .content, .bottom .content {
  margin: 1px;
}

.left.background, .right.background, .top.background, .bottom.background {
  border: 1em solid var(--subgrid-shadow);
}

.left {
  margin-left: -0.5em;
  --subgrid-offset-x: 0.5em;
  --subgrid-offset-w: 0.5em;
}
.left .content {
  margin-left: 0.5em;
}

.right {
  --subgrid-offset-w: 0.5em;
}
.right .content {
  width: calc(100% - 0.5em - 1px);
}

.left.right {
  --subgrid-offset-x: 0.5em;
  --subgrid-offset-w: 1em;
}
.left.right .content {
  width: calc(100% - 1em - 1px);
}

.top {
  margin-top: -0.5em;
  --subgrid-offset-y: 0.5em;
  --subgrid-offset-h: 0.5em;
}
.top .content {
  margin-top: 0.5em;
}

.bottom {
  --subgrid-offset-h: 0.5em;
}
.bottom .content {
  height: calc(100% - 0.5em - 1px);
}

.top.bottom {
  --subgrid-offset-y: 0.5em;
  --subgrid-offset-h: 1em;
}
.top.bottom .content {
  height: calc(100% - 1em - 1px);
}
