.handlebar {
    position: absolute;
    cursor: move;
    border: none;
    background-color: transparent;
}

.topbar {
    top: 0;
    left: 0;
    right: 0;
    height: 0.5em;
}

.leftbar {
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.5em;
}

.rightbar {
    right: 0;
    top: 0;
    bottom: 0;
    width: 0.5em;
}

.bottombar {
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
}
