.gridProvider {
  --grid-unit: 50px;
  --grid-offset-x: -1px;
  --grid-offset-y: -1px;
  --grid-outline: #161616;
  --grid-dotted: #222222;
  --grid-background: #111111;
}

.workspace {
  box-shadow: 0 0 4em 2em inset var(--grid-background);
  background-color: var(--grid-background);
}
