.item {
  position: absolute;
  left: calc(2px + var(--subgrid-offset-x) + var(--item-x) * var(--grid-unit));
  top: calc(2px + var(--subgrid-offset-y) + var(--item-y) * var(--grid-unit));
  width: calc(-2px + var(--item-w) * var(--grid-unit));
  height: calc(-2px + var(--item-h) * var(--grid-unit));
  background: linear-gradient(to bottom right,
    var(--subgrid-background), var(--item-bg, var(--subgrid-background)));
  border: 0.1em solid var(--item-bg, var(--subgrid-background));
  border-radius: 1em;
  user-select: none;
  cursor: pointer;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.item>img {
  object-fit: contain;
}

.item>.stackSize {
  position: absolute;
  bottom: 0;
  right: 0;
  text-shadow: 0.1em 0.1em 0.05em #000000;
  pointer-events: none;
}
