.item {
  position: absolute;
  left: calc(1px + var(--subgrid-offset-x) + var(--item-x) * var(--grid-unit));
  top: calc(1px + var(--subgrid-offset-y) + var(--item-y) * var(--grid-unit));
  width: calc(-1px + var(--item-w) * var(--grid-unit));
  height: calc(-1px + var(--item-h) * var(--grid-unit));
  background: linear-gradient(
    to bottom right,
    var(--subgrid-background),
    var(--item-bg, var(--subgrid-background))
  );
  border: 0.1em solid var(--item-bg, var(--subgrid-background));
  border-radius: 1em;
  cursor: pointer;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.item > img {
  object-fit: contain;
  user-select: none;
}

.item > .stackSize {
  position: absolute;
  bottom: 0;
  right: 0;
  text-shadow: 0.1em 0.1em 0.05em #000000;
  pointer-events: none;
}
