.cursor {
  position: fixed;
  left: var(--cursor-x);
  top: var(--cursor-y);
  width: var(--cursor-unit);
  height: var(--cursor-unit);
  pointer-events: none;
  filter: brightness(70%);
  opacity: 1;
  z-index: 1000;
}

.contained {
  width: 100%;
  height: 100%;
  --grid-unit: 50px;
  --grid-offset-x: 0px;
  --grid-offset-y: 0px;
  --grid-outline: transparent;
  --grid-background: transparent;
}

.danger {
  opacity: 0.8;
  filter: brightness(70%) drop-shadow(0 0 0.5em #FF0000);
}

.important {
  opacity: 0.8;
  filter: brightness(70%) drop-shadow(0 0 0.5em #FFFFFF);
}

.landing {
  position: absolute;
  top: var(--cursor-y);
  left: var(--cursor-x);
  width: 1em;
  height: 1em;
  background: red;
  z-index: 100;
  pointer-events: none;
}
