.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.subgrid {
  background-size: var(--grid-unit) var(--grid-unit);
  background-position-x: var(--subgrid-offset-x);
  background-position-y: var(--subgrid-offset-x);
  background-image:
    linear-gradient(to right, var(--subgrid-outline), transparent 1px),
    linear-gradient(to bottom, var(--subgrid-outline), transparent 1px);
  background-color: var(--subgrid-background);
  border-radius: 1em;
}

.itembox {
  --subgrid-outline: var(--grid-outline);
  --subgrid-shadow: #AAAAAA;
  --subgrid-background: #222222;
  --subgrid-text: var(--grid-outline);
}

fieldset.contained {
  border: none;
}

fieldset.contained legend {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--subgrid-shadow);
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  padding: 0 0.5em;
  color: var(--subgrid-text);
  max-width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.noShadow {
  --grid-offset-w: 0px;
  --grid-offset-h: 0px;
  --subgrid-offset-x: -1px;
  --subgrid-offset-y: -1px;
}

.insetShadow {
  margin-top: -1px;
  margin-left: -1px;
  --grid-offset-w: 0px;
  --grid-offset-h: 0px;
  --subgrid-offset-x: -1px;
  --subgrid-offset-y: -1px;
  border: 8px solid var(--subgrid-shadow);
  border-bottom: 1px solid var(--subgrid-shadow);
  border-right: 1px solid var(--subgrid-shadow);
}

.outsetShadow {
  margin-top: -9px;
  margin-left: -9px;
  --grid-offset-w: 9px;
  --grid-offset-h: 9px;
  --subgrid-offset-x: -1px;
  --subgrid-offset-y: -1px;
  border: 8px solid var(--subgrid-shadow);
  border-top: 1px solid var(--subgrid-shadow);
  border-left: 1px solid var(--subgrid-shadow);
}
